body {
    font-family: Arial, sans-serif;
    background-color: #f0f8ff;
    background-image: url('bg-sidebar-desktop.svg'); /* Add your background image URL here */
    background-size: cover;
    background-position: center;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }

  .container {
    background: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 500px;
    overflow: hidden;
    display: flex;
  }

  .sidebar {
    background: #473bd3;
    color: white;
    width: 35%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  .sidebar .step {
    margin: 20px 0;
    font-size: 16px;
    color: white;
    display: flex;
    align-items: center;
  }

  .sidebar .step span {
    font-size: 18px;
    font-weight: bold;
    background: white;
    color: #473bd3;
    width: 24px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin-right: 10px;
  }

  .sidebar .step.active {
    font-weight: bold;
  }

  .form-container {
    padding: 40px;
    width: 65%;
  }

  h2 {
    margin: 0 0 20px;
    font-size: 22px;
  }

  label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
  }

  input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
  }

  input:focus {
    border-color: #473bd3;
    outline: none;
  }

  .btn {
    display: block;
    background-color: #0033cc;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
  }

  .btn:disabled {
    background-color: #ccc;
  }